.Menu{
    
    .drawerPaper{
        background-color: aqua;
    }
    
    #logo{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}